@{
    ViewData["Title"] = "Home Page";
    Layout = "Layout";
}

<div class="col-sm-12 mt-5">
    <div class="row">
        <div class="col-sm-6 text-justify">
            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
            Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
            Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.
            Sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla.
            Vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo.
            Eget consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec in hac habitasse platea dictumst ut arcu enim, dictum quis ultrices id, sagittis eget nulla.
            Sed nunc mi, congue ut ultricies ac, varius a eros donec porttitor, libero fermentum fringilla laoreet, eros arcu sodales ante, ut dictum risus lectus vel quam integer ultricies, nunc eget.          
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12">
                In malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl.
            </div>
            <div class="col-12">
                In malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl.
                <button id="myBtn">Try it</button>
                <p id="demo"></p>
            </div>
            <div class="col-12">
                <div class="card" style="width: 18rem;">
                    <img src="/image/img1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" id="img1" class="btn btn-primary btn70">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


